<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocsBaseUrl</key>
	<string>https://dev.i2-donate.com/</string>
	<key>Base-url</key>
	<string>https://dev.i2-donate.com/i2d_mob/webservice/</string>
	<key>Register</key>
	<string>register</string>
	<key>Login</key>
	<string>login</string>
	<key>CountryList</key>
	<string>country_list</string>
	<key>SocialLogin</key>
	<string>social_login</string>
	<key>UpdateProfile</key>
	<string>update_profile</string>
	<key>Categories</key>
	<string>categories</string>
	<key>charityList</key>
	<string>charity_list</string>
	<key>charityLike</key>
	<string>charity_like_dislike</string>
	<key>CharityFollow</key>
	<string>charity_following</string>
	<key>CharityLikeFollowCount</key>
	<string>likes_and_followings</string>
	<key>ChangePassword</key>
	<string>change_password</string>
	<key>ForgotPassword</key>
	<string>forgot_password</string>
	<key>VerifyOtp</key>
	<string>verify_otp</string>
	<key>UpdatePassword</key>
	<string>update_password</string>
	<key>Notification</key>
	<string>notification</string>
	<key>Tranasaction</key>
	<string>transaction</string>
	<key>TransactionList</key>
	<string>transaction_list</string>
	<key>TermsUrl</key>
	<string>i2D-Publish-Docs/i2-Donate%20Terms%20and%20Conditions.html</string>
	<key>PrivacyUrl</key>
	<string>i2D-Publish-Docs/i2-Donate%20Privacy%20Policy.html</string>
	<key>HelpUrl</key>
	<string>i2D-Publish-Docs/i2-Donate%20Help%20and%20Support.html</string>
	<key>AboutUrl</key>
	<string>i2D-Publish-Docs/i2-Donate%20About%20App.html</string>
</dict>
</plist>
